body {
    background-color: beige;
    margin: 0;
}

#nav {
    background-color: crimson;
    float: left;
    height: 100vh;
}

#nav_ul {
    margin-top: 50px;
    list-style-type: none;
}

.nav_li a {
    /*text*/
    color: crimson;
    font-family: fantasy;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    /*formatting*/
    background: white;
    margin: 25px;
    padding: 1em 1.5em;
    display: block;
    border-radius: 50px;
}

    .nav_li a:hover {
        transition: transform 0.5s ease-in-out;
        transform: scale(1.25);
        background-color: aqua;
        color: black;
    }

    .contents {
        float: left;
        margin: 50px;
    }

#Information {
    padding-left: 25px;
    background-color: white;
    border: solid 5px black;
    box-shadow: 0 4px 8px 0 black;
    margin-top: 10px;
    margin-left: 250px;
    width: 250px;
}

    #Information:hover {
        transition: transform 0.5s ease-in-out;
        transform: scale(1.25);
    }
