body {
    background-color: grey;
    font-family: Garamond;
    font-size: larger;
    margin: 0;
}

#nav {
    background-color: crimson;
    border-bottom-right-radius: 50px;
    float: left;
    height: 100%;
}

#nav_ul {
    float: left;
    list-style-type: none;
}

.nav_li a {
    /*text*/
    color: crimson;
    font-family: 'Trebuchet MS';
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    /*formatting*/
    background: white;
    border-radius: 50px;
    display: block;
    margin: 25px;
    padding: 1em 1.5em;
}

    .nav_li a:hover {
        transition: transform 0.1s ease-in-out;
        transform: scale(1.25);
    }

.contents {
    background: white;
    border-radius: 50px;
    display: inline-block;
    float: left;
    margin: 50px;
    padding: 50px;
    position: absolute;
}

.img_projects {
    width: 25vw;
}